body {
    color: #191919;
    font-family: 'Nanum Gothic', sans-serif;
}
a,a:link {
    text-decoration: none;
    color: inherit;
}

/* header style */
.logo {
    width: 154px;
    height: 152px;
    margin: 0 auto;
}






/* main style */
table, tr, td, th {
    border: 1px solid #191919;
}
td, th {
    text-align: center;
    padding: 10px;
    vertical-align: middle;
}
table {
    width: 60%;
    margin: 0 auto;
}