body {
    color: #191919;
    font-family: 'Nanum Gothic', sans-serif;
}
a,a:link {
    text-decoration: none;
    color: inherit;
}
.blind { /* 구조적으로필요는 한데, 시각적으로 불피요 */
    display: none;
}

/* header style */
.logo {
    width: 154px;
    height: 152px;
    margin: 0 auto;
}

.picture {
    /* max-width: 100%; */
    background:url("../images/heroImg.jpg") center;
    height: 335px;
}
.menu {
    background: rgb(29, 29, 29);
    color: white;
    text-align: center;
}

.menu li {
    display: inline-block; /* block vs inline vs inline block  (inline 글자 특성을가짐)*/
    padding: 20px 0;

}
.menu li:nth-child(2) {
    margin: 0 100px;
}
.menu a {
    font-size: 1.6rem;
    font-weight: bold;
}
.menu a:hover{
    color: #01ccff;
}





/* main style */
table {
    width: 800px;
    margin: 0 auto;
    border-collapse: collapse;
}

table, tr, td, th {
    border: 1px solid #191919;
}

td, th {
    text-align: center;
    padding: 10px;
    vertical-align: middle; /*inline 또는 table-cell box에서의 수직 정렬을 지정 */
}

th {
    background: #f7f7f7;
}
.bg {
    background: #ffeded;
}
.point {
    color: #ff0000;
}

caption {
    margin: 50px 0 30px 0; 
    font-size : 18px; /*1.125em , 112.5% */
    border: 2px;
}


/* main > event style */
.schedule {
    width : 1100px;
    margin: 0 auto;
}
.schedule > h2 {
    margin: 40px 0;
    border-bottom: 1px solid #666;

    
}
.schedule > h2 span {
    border: 1px solid #666;
    border-bottom:1px solid white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    margin: 0 0 -1px 10px;
    box-shadow: 1px -2px 15px #000000;
}



.schedule li {
    margin: 50px 0;
    overflow: hidden;
}
/* .schedule > ul > li:nth-child(2n) {
    margin: 100px 0;
} */

.schedule mark {
    background: #007997;
    display: inline-block;
    width: 100px;
    height: 30px;
    color: white;
    line-height: 30px;
    text-align: center;
    border-radius: 20px; /* 사각형 모서리 깍기*/
    margin-right: 10px;
    letter-spacing: 10px;
    text-indent: 10px;
    font-size : 1.1rem;
    
    
}
.img {
    width: 300px;
    height: 220px;
    float: left;
    overflow: hidden;
    box-shadow: 6px 6px 10px rgb(44, 44, 44);
}
.desc {    
    width: 650px;
    float: right;
    /* display: flex;
    flex-direction: column;
    justify-content: */
}
.desc li {
    margin: 0 0 18px 0;
    height: 30px;
}

/* main > best photo style */
#main > h2 {
    text-align: center;
    margin: 50px 0;
    font-weight: bolder; /* 서체에 따라 두께가 달라진다 */
    font-size: 35px;
}
.best {
    width: 1000px;
}

.best, .best tr, .best th, .best td {
    border: 0;
    padding: 0;
}
.best td img {
    max-width: 100%;
}
.best td {
    padding: 20px;
    position: relative;
}
/* .best td {
    border-spacing: 10px 30px;
} */
/* .best tr:nth-child(2) :nth-child(1):before{
    content: ''; 
    display: block;
    width: 100%;
    height: 100%;
    background: url("../images/playbtn.png") no-repeat center;
    position: absolute;
    left: 0;
    top: 0; 
}*/
#modal {
    display: none;
    background: rgba(37,37,37,0.9);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000; /* 층층이 겹치는 순서 : 1000단계 */
}
#close {
    width: 80px;
    height: 80px;
    font-size: 2rem;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
    background: black;
    color: white;
    border: none;
}
.overlay, #modal iframe{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); /* 변형 : 이동(수평, 수직) 시켜 */
}

/* main > .contents style */
.contents {
    max-width: 1200px;
    margin: 0 auto;
}
.board-icons {
    display:flex;
}
.board {
    width: 25%;
}
.icons {
    width: 75%;
    background: #f5f5f5;
}








































/* fee table */
#tb_fee th {
    width: 25%
}
#tb_cast th {
    width: 25%
}
#tb_cast td {
    width: 75%
}

#tb_cast {
    margin-bottom:50px;
}




/* footer style */
.extra-menu {
    background: #fafafa;
    text-align: center;
    border-top: 1px solid #666;

}

.extra-menu li {
    display: inline-block;
    padding: 15px 0;
}

.extra-menu li:nth-child(2) {
    margin: 0 20px;
}

.black-bg {
    background: black;
    overflow: hidden;
}

.black-bg p {
    color: white;
    text-align: center;
    line-height: 1.7;
}




.footer-logo {
    width: 103px;
    height: 101px;
    margin: 30px auto 20px; /*= margin 0 auto + padding 30px 0 20px 0; */
}


/* rwd(responsive web design, 반응형 웹디자인) */
@media screen and (max-width:480px) {
    /* .picture {
        background-repeat: no-repeat;
        background-size: contain;
    } */
    #tb_fee, #tb_cast {
        max-width: 90%
    }
}